# PostgreSQL
POSTGRES_USER=devops_user
POSTGRES_PASSWORD=devops_password
POSTGRES_DB=learning_platform

# MongoDB
MONGO_INITDB_ROOT_USERNAME=mongo_user
MONGO_INITDB_ROOT_PASSWORD=mongo_password
MONGO_DB=users_db

# Redis
REDIS_PASSWORD=redis_password

# MinIO
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password

# JWT
JWT_SECRET=votre_super_secret_jwt_ici_changez_moi

# AI Tutor (Anthropic)
ANTHROPIC_API_KEY=sk-ant-votre_cle_ici

# n8n
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin_password